<nav>
    <button class="button" onclick="renderPage('home')">Домой</button>
    <button class="button" onclick="renderPage('profile')">Профиль</button>
    <button class="button" onclick="renderPage('auth')">Вход</button>
    <button class="button" onclick="renderPage('forgot')">Вспомнить пароль</button>
    <button class="button" onclick="renderPage('reg')">Регистрация</button>
</nav>
