<div class="title">
    <h1>Вход</h1>
</div>
<hr>
{{>button}}
<hr>
<div class="form">
    <form name="auth" method="" action="">
        <label><input placeholder="{{login}}" type="text" value="" name="login"></label>
        <label><input placeholder="{{password}}" type=" password" value="" name="password"></label>
        <input type="submit" class="button" value="Вход">
    </form>
</div>
