<div class="title">
    <h1>Вспомнить пароль</h1>
</div>
<hr>
{{>button}}
<hr>
<div class="form">
    <form name="forgot" method="" action="">
        <label><input placeholder="{{email}}" type="email" value="" name="email"></label>
        <label><input placeholder="{{phone}}" type="tel" value="" name="phone"></label>
        <input type="submit" class="button" value="Восстановить">
    </form>
</div>
